::selection {
    background-color: #ffffff; /* Cor de fundo da seleção */
    color: #083040; /* Cor do texto da seleção */
}

::-webkit-scrollbar {
    width: 17px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #CECECE;
}

::-webkit-scrollbar-thumb:active {
    background-color: #555; 
}

#logo{
    position: fixed;
    left: 50px;
    top: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 40px;
    transition: all 0.3s ease;
}

#chat-btn{
    position: fixed;
    right: 50px;
    top: 35px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
}

header{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    transition: all 0.5s ease;
}

header:hover{
    background-color: rgba(0, 0, 0, 1);
}

header nav{
    height: 100px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

header nav a:active{
    color: rgb(255, 255, 255);
}

#chat-btn:hover, #logo:hover, header a:hover{
    color: rgb(151, 151, 151);
    transform: translateY(-05px);
}